body {
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 0;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin: 100px;
    
    align-items: center;
}

.image-container img {
    min-width: 1000px;
}